.authorization {
  &__wrapper {
    background-color: var(--white);
    box-shadow: var(--black-box-shadow);
    border-radius: 12px;
    padding: 50px 30px 30px;
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin-bottom: 40px;
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  &__button {
    width: 100%;
    margin-top: 160px;
    margin-bottom: 14px;
    padding: 12px;
    color: var(--white);
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    background: var(--blue);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &--signin {
      margin-top: 62px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__submit-wrapper {
    position: relative;

    .error {
      width: max-content;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__link {
    display: block;
    width: 100%;
    color: var(--blue);
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    border: none;
    background-color: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }
}
