.file-popup {
  height: 100%;
  background-color: var(--black-bg);

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    padding: 40px 30px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: var(--black-box-shadow);
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__close-icon {
    width: 25px;
    height: 25px;
  }

  &__title {
    margin-bottom: 50px;
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  &__label {
    display: block;
    max-width: 122px;
    margin: 0 auto;
    color: var(--blue);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration-line: underline;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  &__submit {
    width: 100%;
    margin-top: 33px;
    padding: 12px;
    color: var(--white);
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    background-color: var(--blue);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__field {
    position: relative;
  }
}
