.profile {
  &__wrapper {
    display: flex;
    height: 100vh;
  }

  &__profile-section {
    width: 510px;
    margin: 0 auto;
    margin-top: 60px;
  }

  &__name {
    margin-bottom: 50px;
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  &__info {
    margin-bottom: 50px;
  }

  .profile-field {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--light-gray-1);

    .error {
      bottom: 1px;
    }

    &:last-child {
      border-bottom: none;
    }

    &__label {
      color: var(--dark-gray);
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      text-decoration: underline;
    }

    &__input {
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      text-align: right;
      background-color: inherit;
      border: none;
    }
  }

  &__cahnge-profile,
  &__cahnge-password {
    display: block;
    padding: 10px 0;
    color: var(--blue);
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    border-bottom: 1px solid var(--light-gray-1);
    background-color: inherit;
    border: none;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__logout {
    margin-top: 10px;
    padding: 0;
    color: var(--red);
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    background-color: inherit;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &__submit {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 12px;
    color: var(--white);
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    background: var(--blue);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }
}
