@font-face {
  font-weight: 500;
  font-family: Inter, sans-serif;
  font-style: normal;
  src:
    url("../assets/Inter-SemiBold.woff2") format("woff2"),
    url("../assets/Inter-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Inter, sans-serif;
  font-style: normal;
  src:
    url("../assets/Inter-Medium.woff2") format("woff2"),
    url("../assets/Inter-Medium.woff") format("woff");
  font-display: swap;
}
