:root {
  --white: #ffffff;
  --blue: #3369f3;
  --light-blue: #9cb5f5;

  --light-gray-1: #eaeaea;
  --light-gray-2: #f8f8f8;
  --light-gray-3: #e4edfd;
  --light-gray-4: #efefef;
  --light-gray-5: #fbfbfb;
  --gray: #999999;
  --dark-gray: #1e1e1e;

  --black: #000000;
  --black-bg: rgba(#000000, 0.4);
  --black-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);

  --red: #ff0000;
}
