$white: #ffffff;
$blue: #3369f3;

$light-gray-1: #eaeaea;
$light-gray-2: #f8f8f8;
$light-gray-3: #e4edfd;
$light-gray-4: #efefef;
$gray: #999999;
$dark-gray: #1e1e1e;

$black: #000000;

$red: #ff0000;