<div class="chats-page__content">
  <a class="chats-page__profile" href="./profile.hbs">
    Профиль
    <svg class="chats-page__profile-icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 9L5 5L1 1" stroke="#999999"/>
    </svg>
  </a>
  <label class="visually-hidden" for="search">Поиск</label>
  <input class="chats-page__search" type="text" id="search" name="search" placeholder="Поиск">

  <ul class="chats">
    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">Андрей</p>
          <span class="chats__time">10:49</span>
        </div>

        <p class="chats__text">Изображение</p>
        <span class="chats__alert">2</span>
      </div>
    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">Киноклуб</p>
          <span class="chats__time">12:00</span>
        </div>

        <p class="chats__text"><span>Вы: </span> стикер</p>
      </div>
    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">Илья</p>
          <span class="chats__time">15:12</span>
        </div>

        <p class="chats__text">Друзья, у меня для вас особенный выпуск новостей!...</p>
        <span class="chats__alert">4</span>
      </div>

    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">Вадим</p>
          <span class="chats__time">Пт</span>
        </div>

        <p class="chats__text"><span>Вы: </span> Круто!</p>
      </div>
    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">тет-а-теты</p>
          <span class="chats__time">Ср</span>
        </div>

        <p class="chats__text">И Human Interface Guidelines и Material Design рекомендуют...</p>
      </div>
    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">1, 2, 3</p>
          <span class="chats__time">Пн</span>
        </div>

        <p class="chats__text">Миллионы россиян ежедневно проводят десятки часов свое...</p>
      </div>
    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">Design Destroyer</p>
          <span class="chats__time">Пн</span>
        </div>

        <p class="chats__text">В 2008 году художник Jon Rafman  начал собирать...</p>
      </div>
    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">Day.</p>
          <span class="chats__time">1 Мая 2020</span>
        </div>

        <p class="chats__text">Так увлёкся работой по курсу, что совсем забыл его анонсир...</p>
      </div>
    </li>

    <li class="chats__item">
      <div class="chats__img">
        <img src="../asserts/empty-avatar.png" alt="Аватар" width="47" height="47">
      </div>
      <div class="chats__info">
        <div class="chats__mesh">
          <p class="chats__name">Стас Рогозин</p>
          <span class="chats__time">12 Апр 2020</span>
        </div>

        <p class="chats__text">Можно или сегодня или завтра вечером.</p>
      </div>
    </li>
  </ul>
</div>
