{{!< main-layout}}

<section class="profile">
  <div class="profile__wrapper">
    <div class="profile__back">
      <a href="./profile.hbs" class="profile__back-button">
        <svg class="profile__back-button-icon" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="5.19995" width="11" height="1.6" fill="white"/>
          <path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"/>
        </svg>
        <span class="visually-hidden">Назад к чатам</span>
      </a>
    </div>
    <form class="profile__profile-section" action="POST">
      <div class="profile__avatar">
        <img src="../asserts/avatar-icon.svg" alt="Аватар пользоватлея" width="40" height="40">
      </div>

      <div class="profile__info">
        <div class="profile__field">
          <label class="profile__variable" for="oldPassword">Старый пароль</label>
          <input class="profile__value" type="password" id="oldPassword" name="oldPassword" value="qwerty">
        </div>

        <div class="profile__field">
          <label class="profile__variable" for="newPassword">Новый пароль</label>
          <input class="profile__value" type="password" id="newPassword" name="newPassword" value="qwerty">
        </div>

        <div class="profile__field">
          <label class="profile__variable" for="newPasswordRepeat">Повторите новый пароль</label>
          <input class="profile__value" type="password" id="newPasswordRepeat" name="newPasswordRepeat" value="qwerty">
        </div>
      </div>

      <button class="profile__submit" type="submit">Сохранить</button>
    </form>
  </div>
</section>
