{{!< main-layout}}

<section class="profile profile--change">
  <div class="profile__wrapper">
    <div class="profile__back">
      <a href="./profile.hbs" class="profile__back-button">
        <svg class="profile__back-button-icon" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="5.19995" width="11" height="1.6" fill="white"/>
          <path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"/>
        </svg>
        <span class="visually-hidden">Назад к чатам</span>
      </a>
    </div>

    <form class="profile__profile-section" action="POST">
      <div class="profile__avatar">
        <img src="../asserts/avatar-icon.svg" alt="Аватар пользоватлея" width="40" height="40">
      </div>

      <div class="profile__info">
        <div class="profile__field">
          <label class="profile__variable" for="email">Почта</label>
          <input class="profile__value" type="email" id="email" name="email" value="pochta@yandex.ru">
        </div>

        <div class="profile__field">
          <label class="profile__variable" for="login">Логин</label>
          <input class="profile__value" type="text" id="login" name="login" value="ivanivanov">
        </div>

        <div class="profile__field">
          <label class="profile__variable" for="first_name">Имя</label>
          <input class="profile__value" type="text" id="first_name" name="first_name" value="Иван">
        </div>

        <div class="profile__field">
          <label class="profile__variable" for="second_name">Фамилия</label>
          <input class="profile__value" type="text" id="second_name" name="second_name" value="Иванов">
        </div>

        <div class="profile__field">
          <label class="profile__variable" for="display_name">Имя в чате</label>
          <input class="profile__value" type="text" id="display_name" name="display_name" value="Иван">
        </div>

        <div class="profile__field">
          <label class="profile__variable" for="phone">Телефон</label>
          <input class="profile__value" type="tel" id="phone" name="phone" value="+7 (909) 967 30 30">
        </div>
      </div>
      
      <button class="profile__submit" type="submit">Сохранить</button>
    </form>
  </div>
</section>