{{!< main-layout}}

<ul>
  <li>
    <a href="./login.hbs">Авторизация</a>
  </li>
  <li>
    <a href="./signin.hbs">Регистрация</a>
  </li>
  <li>
    <a href="./500.hbs">Ошибка 500</a>
  </li>
  <li>
    <a href="./404.hbs">Ошибка 404</a>
  </li>
  <li>
    <a href="./select-chat.hbs">Выбрать чат</a>
  </li>
  <li>
    <a href="./active-chat.hbs">Активный чат</a>
  </li>
  <li>
    <a href="./user-popup.hbs">Добавить/удалить пользователя</a>
  </li>
  <li>
    <a href="./profile.hbs">Профиль</a>
  </li>
  <li>
    <a href="./change-profile.hbs">Изменить данные</a>
  </li>
  <li>
    <a href="./change-password.hbs">Изменить пароль</a>
  </li>
  <li>
    <a href="./file-popup.hbs">Изменение аватара</a>
  </li>
</ul>
