@import "./styles/variables";
@import "./styles/fonts";

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2,
p,
h3 {
  margin: 0;
}

html {
  height: fill-available;
}

a {
  text-decoration: none;
}

#app {
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  background-color: var(--white);
}

.main {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
