:root {
  --white: #fff;
  --blue: #3369f3;
  --light-blue: #9cb5f5;
  --light-gray-1: #eaeaea;
  --light-gray-2: #f8f8f8;
  --light-gray-3: #e4edfd;
  --light-gray-4: #efefef;
  --light-gray-5: #fbfbfb;
  --gray: #999;
  --dark-gray: #1e1e1e;
  --black: #000;
  --black-bg: rgba(#000, 0.4);
  --black-box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  --red: #f00;
}
