<section class="error-page">
  <div class="error-page__wrapper">
    <h2 class="error-page__title">{{number}}</h2>
    <p class="error-page__description">{{description}}</p>
    <a class="error-page__link" href="./index.hbs">Назад к чатам</a>
  </div>
</section>
